 .u-section-1 {
  background-image: linear-gradient(black, #031c34);
}

.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-image-1 {
  width: 670px;
  height: 200px;
  margin: 60px 207px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-1 .u-image-1 {
    width: 635px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 190px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 120px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 107px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1587px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 41px 20px 0;
}

.u-section-2 .u-list-1 {
  width: 679px;
  margin: 41px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 198px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px 3px 10px 10px;
}

.u-section-2 .u-group-1 {
  width: 94px;
  height: 94px;
  margin: 12px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-icon-1 {
  width: 44px;
  height: 44px;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 3px 10px 10px;
}

.u-section-2 .u-group-2 {
  width: 94px;
  height: 94px;
  margin: 12px auto 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px;
}

.u-section-2 .u-icon-2 {
  width: 44px;
  height: 44px;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px 3px 10px 10px;
}

.u-section-2 .u-group-3 {
  width: 94px;
  height: 94px;
  margin: 12px auto 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 20px;
}

.u-section-2 .u-icon-3 {
  width: 44px;
  height: 44px;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-2 .u-group-elements-1 {
  width: 912px;
  min-height: 230px;
  height: auto;
  margin: 49px auto 0;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  width: 912px;
  font-size: 3rem;
  margin: 21px auto 0;
}

.u-section-2 .u-list-2 {
  width: 781px;
  margin: 68px auto 60px;
}

.u-section-2 .u-repeater-2 {
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 202px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-7 {
  padding: 10px;
}

.u-section-2 .u-group-4 {
  width: 106px;
  height: 106px;
  margin: 7px auto 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 26px 28px;
}

.u-section-2 .u-icon-4 {
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  margin: 21px auto 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 10px;
}

.u-section-2 .u-group-5 {
  width: 106px;
  height: 106px;
  margin: 7px auto 0;
}

.u-section-2 .u-container-layout-10 {
  padding: 26px 28px;
}

.u-section-2 .u-icon-5 {
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 21px auto 0;
}

.u-section-2 .u-container-layout-11 {
  padding: 10px;
}

.u-section-2 .u-group-6 {
  width: 106px;
  height: 106px;
  margin: 7px auto 0;
}

.u-section-2 .u-container-layout-12 {
  padding: 26px 28px;
}

.u-section-2 .u-icon-6 {
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 21px auto 0;
}

.u-section-2 .u-container-layout-13 {
  padding: 10px;
}

.u-section-2 .u-group-7 {
  width: 106px;
  height: 106px;
  margin: 7px auto 0;
}

.u-section-2 .u-container-layout-14 {
  padding: 26px 28px;
}

.u-section-2 .u-icon-7 {
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 21px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }

  .u-section-2 .u-text-5 {
    margin-top: 0;
    font-size: 0.625rem;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1460px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
    min-height: 190px;
  }

  .u-section-2 .u-group-elements-1 {
    min-height: 108px;
    margin-top: 38px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.875rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-2 {
    margin-top: 69px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-2 {
    min-height: 209px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2040px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 250px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-elements-1 {
    min-height: 144px;
    margin-top: 50px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-list-2 {
    margin-top: 147px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-2 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 462px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-7 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2347px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-list-1 {
    margin-top: 29px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
    min-height: 544px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-group-elements-1 {
    min-height: 108px;
    margin-top: 12px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-list-2 {
    margin-top: 45px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-2 {
    grid-auto-columns: calc(100% + 0px);
    grid-template-columns: 100%;
    min-height: 757px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-9 {
    font-size: 1.25rem;
  }
}